<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>pdf文件</label>
        <input type="file" name="avatar">
      </div>
      <input type="submit" class="ui button fluid" value="提交">
    </form>
  </div>
</div>

<%- include('footer') %>
